<div class="container login_container">
    <div class="card">
        <div class="main">
            <form method="POST" action="/login">
                <div class="image"> <span><img src="https://imgur.com/sNwSvzv.png"></span> </div>
                <% if(messages.error) { %>
                    <div class="alert alert-danger mt-2 mb-2" role="alert">
                        <%= messages.error %>
                    </div>
                    <% } %>
                        <div class="input-text"> <input type="email" placeholder="Email" require="required"
                                id="login_name" name="email">
                        </div>
                        <div class="input-text"> <input type="password" placeholder="Password" name="password"> </div>
                        <div class="button"> <button class="next-btn" type="submit">Login</button> </div>
                        <div class="heading text-center mt-3">
                            <p>Don't have account?<a href="/register"> Register</a></p>
                        </div>
            </form>
        </div>
    </div>
</div>